<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key><string>com.example.pveclient.ios</string>
    <key>PVEClientLocalURL</key><string>http://192.168.1.10:8765/</string>
    <key>PVEClientPublicURL</key><string>https://pve.example.com/</string>
</dict>
</plist>
